<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mi cine</title>
    <style></style>
  </head>
  <body>
    <main>
      <section class="hero">
        <h2>Bienvenido a Mi cine</h2>
        <p>
          Disfruta de las mejores películas en nuestra sala de cine. ¡No te lo
          pierdas!
        </p>
        <a href="#" class="cta">Comprar boletos</a>
      </section>
      <section class="featured">
        <h3>Película destacada</h3>
        <article>
          <img src="https://bit.ly/422LIlL" alt="Nombre de la película" />
          <h4>Mario Bross</h4>
          <p>
            La película recibió críticas mixtas en su lanzamiento, y aunque
            algunos fans de Mario Bros. la disfrutaron por su estilo visual y la
            interpretación como la creación de una versión del villano Bowser.
          </p>
          <a href="#" class="cta">Ver detalles</a>
        </article>
      </section>
    </main>
    <footer>
      <p>Derechos reservados © 2023 Mi cine</p>
      <br />
      <p>Alyne Regalado Morales</p>
      <br />
      <p>Brando Romero Loma</p>
    </footer>
  </body>
</html>
